<div class="modal fade" id="modal_cropper_bovin" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <input type="hidden" id="type_image_bovin" name="type_image_bovin" value="">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner-cropper">
              <img id="image_bovin_cropper">
            </div>
          </div>
          <div class="col-lg-6" style="margin-top:15px;">
            <input class="filestyle" data-iconName="fa fa-folder-open" data-buttonName="btn-bovin" data-buttonText="Rechercher une image" data-buttonBefore="true" type="file" name="image" id="image-upload"/>
          </div>
          <div class="col-lg-3" style="margin-top:15px;">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-bovin" onclick="$('#image_bovin_cropper').cropper('rotate', -90);">
                  <span class="fa fa-rotate-left"></span>
              </button>
              <button type="button" class="btn btn-bovin" onclick="$('#image_bovin_cropper').cropper('rotate', 90);">
                  <span class="fa fa-rotate-right"></span>
              </button>
            </div>
          </div>
          <div class="col-lg-3" style="margin-top:15px;">
            <button class="btn btn-bovin pull-right" id="btn_reini_image">Réinitialiser&nbsp;<i class="fa fa-refresh" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button class="btn btn-bovin" id="btn_save_picture_bovin">Enregistrer&nbsp;<i class="fa fa-floppy-o" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>