<table class="table table-bordered table-striped dataTable" width="100%" cellspacing="0">
    <thead class="thead-dark">
        <tr>
            <th>Numéro</th>
            <th>Nom</th>
            <th>Date de naissance</th>
            <th>Race</th>
            <th>Statut</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
      {% for bovinFemelle in liste_vache %}
        <tr>
            <td>{{bovinFemelle.bovinNumero}}</td>
            <td>{{bovinFemelle.bovinNom}}</td>
            <td>
                {% if bovinFemelle.bovinNaissance|date("d/m/Y") != "01/01/0000" %}
                    {{bovinFemelle.bovinNaissance|date("d/m/Y")}}<br/>
                    <em>({{bovinFemelle.getBovinAge()}} mois)</em>
                {% endif %}</td>
            <td>{{bovinFemelle.bovinRace.raceNom}}</td>
            <td>{{bovinFemelle.bovinStatut.statutNom}}</td>
            <td><a class="btn btn-bovin btn-sm" href="{{url('fiche_vache',{numero:bovinFemelle.bovinNumero,groupe:app.request.attributes.get('groupe')})}}"><i class="fa fa-search" aria-hidden="true"></i></a></td>
        </tr>
      {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(".dataTable").DataTable({
        responsive: true,
        "language": {
            "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        },
        initComplete: function(){
          $('.dataTables_wrapper select').select2({
            theme: "bootstrap",
            minimumResultsForSearch: -1
          });
        }
    })
</script>