{% extends '::base.html.twig' %}
{% block style_css %}
	<link href="{{ asset('css/bovin.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
      <input type="hidden" value="{{app.request.attributes.get('groupe')}}" id="groupeId">
	    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url('accueil') }}">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ url('bovin',{groupe:app.request.attributes.get('groupe')}) }}">Bovin</a>
        </li>
        <li class="breadcrumb-item active">Vaches - Génisses - Veaux</li>
      </ol>
      <div class="row">
        <div class="col-12">
          <div class="header-content pull-right">
            <button class="btn btn-bovin dropdown-toggle" type="button" id="dropdownMenuButtonImportXLS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonImportXLS">
              <a id="btnGeneratePdf" class="dropdown-item">PDF Vache</a>
            </div>
            <button class="btn btn-bovin" data-toggle="modal" data-target="#modalAddVache"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Ajouter une Vache</button>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-3">
            <div class="card-header">
              <span><i class="fa fa-table"></i>&nbsp;Liste des vaches</span>
            </div>
            <div class="card-body">
              <div id="contentTableVache" class="table-responsive">
                <div class="spinner-content">
                  <i class="fa fa-spinner fa-spin"></i>
                </div>
              </div>
            </div>
            <div class="card-footer small text-muted"></div>
            </div>
          </div>
        </div>
      </div>

  {% include '@BovinBundle/Vaches/Modal/modal_add_vache.html.twig' %}
{% endblock %}

{% block script %}
	<script src="{{ asset('script/bovin.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      loadTableVache();
    })
    function loadTableVache(){
      $('#contentTableVache').load(Routing.generate('vache_load_table',{groupe:$('#groupeId').val()}), function(){
      });
    }

    $('#modalAddVache').on('hidden.bs.modal', function (e) {
      $('#form_add_vache')[0].reset();
    })

    $('#btnGeneratePdf').on('click',function function_name() {
      src = Routing.generate('generate_pdf',{'groupe':$('#groupeId').val(),'type':'pdfBovinVache'})
      pdfIframeLoad(src)
    })
  </script>
{% endblock %}
