<div class="modal fade" id="modalAddVache" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    {{ form_start(form, { 'attr': {'id': 'form_add_vache'} }) }}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter une vache</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-bovin" type="button">Nom</button>
              </span>
              {{ form_widget(form.bovinNom) }}
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-bovin" type="button">Numero</button>
              </span>
              {{ form_widget(form.bovinNumero) }}
            </div>
            <div class="form-control-error-msg bovinNumero">Vous devez entrer un numéro comportant 4 chiffres !</div>
            <div class="form-control-error-msg bovinNumero2">Numéro déja utilisé !</div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-bovin" type="button">Naissance</button>
              </span>
              {{ form_widget(form.bovinNaissance) }}
            </div>
            <div class="form-control-error-msg bovinNaissance">Vous devez remplir ce champs !</div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-bovin" type="button">Classement</button>
              </span>
              <div class="input-group-select">
                {{ form_widget(form.bovinClassement) }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-bovin" type="button">Race</button>
              </span>
              <div class="input-group-select">
                {{ form_widget(form.bovinRace) }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-bovin" type="button">Facilité de vêlage</button>
              </span>
              <div class="input-group-select">
                {{ form_widget(form.bovinNaissanceFacilite) }}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          {{ form_widget(form.save) }}
        </div>
        {{ form_end(form) }}
      </div>
    </form>
  </div>
</div>

