{% extends '::base_admin.html.twig' %}

{% block style_css %}

{% endblock %}

{% block body %}

  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Panneau d'administration</li>
  </ol>
  <div class="row">
    <div class="col-12">

    </div>
  </div>

{% endblock %}

{% block script %}

{% endblock %}