<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
	    <script type="text/javascript" src="{{ absolute_url(asset('plugin/jquery-3.2.1.min.js')) }}"></script>
	    <link href="{{ absolute_url(asset('plugin/bootstrap-4.0/css/bootstrap.min.css')) }}" rel="stylesheet" type="text/css">
	    <link href="{{ absolute_url(asset('plugin/font-awesome-4.7.0/css/font-awesome.css')) }}" rel="stylesheet" type="text/css">
	    <link href="{{ absolute_url(asset('css/pdf.css')) }}" rel="stylesheet" type="text/css">
	    <title>PDF Vache</title>
	</head>
	<body>
		<table class="table table-bordered table-striped" width="100%" cellspacing="0">
		    <thead class="thead-dark">
		        <tr>
		            <th>Numéro</th>
		            <th>Nom</th>
		            <th>Date de naissance</th>
		            <th>Race</th>
		            <th>Statut</th>
		        </tr>
		    </thead>
		    <tbody>
		      	{% for bovinFemelle in liste_vache %}
			        <tr>
			            <td>{{bovinFemelle.bovinNumero}}</td>
			            <td>{{bovinFemelle.bovinNom}}</td>
			            <td>
			            	{% if bovinFemelle.bovinNaissance|date("d/m/Y") != "01/01/0000" %}
				            	{{bovinFemelle.bovinNaissance|date("d/m/Y")}}<br/>
				            	<em>({{bovinFemelle.getBovinAge()}} mois)</em>
				            {% endif %}
			        	</td>
			            <td>{{bovinFemelle.bovinRace.raceNom}}</td>
			            <td>{{bovinFemelle.bovinStatut.statutNom}}</td>
			        </tr>
		      	{% endfor %}
		    </tbody>
		</table>
	</body>
</html>
