<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
	    <script type="text/javascript" src="{{ absolute_url(asset('plugin/jquery-3.2.1.min.js')) }}"></script>
	    <link href="{{ absolute_url(asset('plugin/bootstrap-4.0/css/bootstrap.min.css')) }}" rel="stylesheet" type="text/css">
	    <link href="{{ absolute_url(asset('plugin/font-awesome-4.7.0/css/font-awesome.css')) }}" rel="stylesheet" type="text/css">
	    <link href="{{ absolute_url(asset('css/pdf.css')) }}" rel="stylesheet" type="text/css">
		<script>
			function subst() {
				var vars={};
				var x = document.location.search.substring(1).split('&');
				for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
				var x = [ 'frompage', 'topage', 'page',  'webpage', 'section', 'subsection', 'subsubsection', 'date', 'time' ];
				for (var i in x) {
					var y = document.getElementsByClassName('wkhtml-' + x[i]);
					for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
				}
			}
		</script>
		<style>
		.header-info { font-size: 15px; font-family: Calibri, Arial; }
		</style>
	</head>
	<body style="border:0; margin: 0; padding: 0;" onload="subst()">
		<table style="width: 100%">
		  <tr>
			<td class="section">Généré par Ah la vache !</td>
			<td style="text-align:right" class="header-info">
			  Page <span class="wkhtml-page"></span> sur <span class="wkhtml-topage"></span>
			</td>
		  </tr>
		</table>
	</body>
</html>