<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
	    <script type="text/javascript" src="{{ absolute_url(asset('plugin/jquery-3.2.1.min.js')) }}"></script>
	    <link href="{{ absolute_url(asset('plugin/bootstrap-4.0/css/bootstrap.min.css')) }}" rel="stylesheet" type="text/css">
	    <link href="{{ absolute_url(asset('plugin/font-awesome-4.7.0/css/font-awesome.css')) }}" rel="stylesheet" type="text/css">
	    <link href="{{ absolute_url(asset('css/pdf.css')) }}" rel="stylesheet" type="text/css">
	</head>
	<body style="border:0; margin: 0; padding: 0;">
		<table style="width: 100%">
		  <tr>
			<td class="section">Pdf</td>
		  </tr>
		</table>
	</body>
</html>