<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ asset('image/favicon-cow.png') }}">
    <script type="text/javascript" src="{{ asset('plugin/jquery-3.2.1.min.js') }}"></script>
    <link href="{{ asset('plugin/bootstrap-4.0/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('plugin/select2-master/dist/css/select2.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('plugin/select2-bootstrap-theme-master/dist/select2-bootstrap.css') }}">
    <script src="{{ asset('plugin/select2-master/dist/js/select2.min.js') }}"></script>
    <link href="{{ asset('plugin/font-awesome-4.7.0/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('plugin/datatables/datatables.css') }}" rel="stylesheet">
    <link href="{{ asset('plugin/jquery-confirm-master/css/jquery-confirm.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('plugin/jquery-ui-1.12.1.custom/jquery-ui.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/global.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">
    {% block style_css %}{% endblock %}

    <title>Ah ! La vache </title>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{ url('accueil') }}"><img src="{{ asset('image/icon-cow.png') }}" style="width: 28px;vertical-align: sub;">&nbsp;Ah ! la vache</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Accueil">
          <a class="nav-link" href="{{ url('accueil') }}">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="nav-link-text">Accueil</span>
          </a>
        </li>
          {% set count = 0 %}
          {% for groupes in app.user.groups %}
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{groupes.name}}">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti{{count}}" data-parent="#exampleAccordion">
                  <i class="fa fa-fw fa-sitemap"></i>
                  <span class="nav-link-text">{{groupes.name}}</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseMulti{{count}}">
                  {% for animal in groupes.groupeAnimalTypes %}
                    {% set count = count + 1 %}
                    {% if animal.animalTypeNom == "Bovin" %}
                      <li>
                        <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti{{count}}">Bovin</a>
                        <ul class="sidenav-third-level collapse" id="collapseMulti{{count}}">
                          <li>
                            <a href="{{url('bovin',{groupe:groupes.id})}}">
                              <i class="fa fa-home" aria-hidden="true"></i>&nbsp;Accueil</a>
                          </li>
                          <li>
                            <a href="{{url('vache',{groupe:groupes.id})}}"><i class="fa fa-venus" aria-hidden="true"></i>&nbsp;Vaches - Génisses - Veaux</a>
                          </li>
                          <li>
                            <a href="{{url('taureau',{groupe:groupes.id})}}"><i class="fa fa-mars" aria-hidden="true"></i>&nbsp;Taureaux</a>
                          </li>
                        </ul>
                      </li>
                    {% elseif animal.animalTypeNom == "Ovin" %}
                      <li>
                        <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti{{count}}">Ovin</a>
                        <ul class="sidenav-third-level collapse" id="collapseMulti{{count}}">
                          <li>
                            <a href="#">
                              <i class="fa fa-home" aria-hidden="true"></i>&nbsp;Accueil</a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-venus" aria-hidden="true"></i>&nbsp;Brebis</a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-mars" aria-hidden="true"></i>&nbsp;Bélier</a>
                          </li>
                        </ul>
                      </li>
                    {% endif %}
                    {% set count = count + 1 %}
                  {% endfor %}
                </ul>
              </li>
          {% endfor %}
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      
    

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">Notifications
              <span class="badge badge-pill badge-warning">6 </span>
            </span>
            <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">Notifications:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-danger">
                <strong>
                  <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">Voir toutes les notifications</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{app.user.username}}</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item">
            <a class="nav-link" href="{{url('admin')}}">
              <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;Administration</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ app.request.baseUrl}}/logout">
            <i class="fa fa-fw fa-sign-out"></i>&nbsp;Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid body">
      {% block body %}{% endblock %}
    </div>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © - Ah ! la vache - 2017 - {{ "now"|date("Y") }} - All Rights Reserved - Made by Damien Lamoureux</small>
        </div>
      </div>
    </footer>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
  {% include '@AppBundle/PDF/Modal/modal_pdf_view.html.twig' %}
  <script src="{{ asset('plugin/bootstrap-4.0/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('plugin/jquery-easing/jquery.easing.min.js') }}"></script>
  <script src="{{ asset('plugin/jquery.fullscreen.js') }}"></script>
  <script src="{{ asset('script/global.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('plugin/datatables/datatables.js') }}"></script>
  <script src="{{ asset('plugin/jquery-confirm-master/js/jquery-confirm.js') }}"></script>
  <script src="{{ asset('plugin/jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
  <script src="{{ asset('plugin/jquery-ui-1.12.1.custom/jquery.ui.datepicker-fr.js') }}"></script>
  <script src="{{ asset('script/script.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

  {% block script %}{% endblock %}
</body>

</html>
