<div class="modal fade" id="modalAddNewGroup" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="formAddNewGroup">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter un Groupe</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Nom du Groupe</span>
              <input type="text" class="form-control" name="groupeNom" placeholder="Nom du Groupe">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Adresse</span>
              <textarea class="form-control" name="groupeAdresse" placeholder="Adresse"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Chef du groupe</span>
              <div class="input-group-select">
                <select class="form-control selectpicker" data-live-search="true" name="groupeChef">
                  {% for user in users %}
                    <option  value="{{user.id}}">{{user.username}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary">Ajouter&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>