{% extends '::base.html.twig' %}
{% block style_css %}
	<link href="{{ asset('css/bovin.css') }}" rel="stylesheet" type="text/css">
  <link  href="{{ asset('plugin/cropper-master/dist/cropper.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url('accueil',{groupe:app.request.attributes.get('groupe')}) }}">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ url('bovin',{groupe:app.request.attributes.get('groupe')}) }}">Bovin</a>
        </li>
         <li class="breadcrumb-item">
          <a href="{{ url('taureau',{groupe:app.request.attributes.get('groupe')}) }}">Taureaux</a>
        </li>
        <li class="breadcrumb-item active">{{taureauInfos.bovin.bovinStatut.statutNom}} n° {{taureauInfos.bovin.bovinNumero}}</li>
      </ol>
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <form id="form_modif_fiche_taureau" action="{{url('fiche_taureau_modification',{numero:taureauInfos.bovin.bovinNumero,groupe:app.request.attributes.get('groupe')})}}" method="POST">
              <input type="hidden" name="bovinId" value="{{taureauInfos.bovin.id}}">
              <div class="card-header">
                <img src="{{ asset('image/icon-cow.png') }}" style="width: 26px;vertical-align: sub;"><span>&nbsp;Fiche du n° {{taureauInfos.bovin.bovinNumero}}</span>
              </div>
              <div class="card-body">
                <div class=" col-lg-12">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-bovin" type="button">Nom</button>
                          </span>
                          <input type="text" disabled id="taureauBovinNom" class="form-control" name="bovinNom" value="{{taureauInfos.bovin.bovinNom}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-bovin" type="button">Numéro</button>
                          </span>
                          <input type="number" disabled id="taureauBovinNumero" class="form-control" name="bovinNumero" value="{{taureauInfos.bovin.bovinNumero}}">
                        </div>
                        <div class="form-control-error-msg bovinNumero">Vous devez entrer un numéro comportant 4 chiffres !</div>
                        <div class="form-control-error-msg bovinNumero2">Numéro déja utilisé !</div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-bovin" type="button">Date de naissance</button>
                          </span>
                          <input type="text" disabled id="taureauBovinNaissance" class="datepicker form-control" name="bovinNaissance" value="{{taureauInfos.bovin.bovinNaissance|date("d/m/Y")}}">
                        </div>
                        <div class="form-control-error-msg bovinNaissance">Vous devez remplir ce champs !</div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-bovin" type="button">Age (Mois)</button>
                          </span>
                          <input type="text" disabled class="form-control" value="{{taureauInfos.bovin.getBovinAge()}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-bovin" type="button">Race</button>
                          </span>
                          <input id="inputBovinRace" type="text" disabled class="form-control input-select" value="{{taureauInfos.bovin.bovinRace.raceNom}}">
                          <div id="selectBovinRace" style="display:none;width: 100%;" class="select-form-editable">
                            <select data-class="btn-editable" name="bovinRace" id="taureauBovinRace" style="display:none;" class="form-control selectpicker">
                              {% for optionRace in listeSelect.race %}
                                {% if optionRace.id == taureauInfos.bovin.bovinRace.id %}
                                  <option selected value="{{optionRace.id}}">{{optionRace.raceNom}}</option>
                                {% else %}
                                  <option value="{{optionRace.id}}">{{optionRace.raceNom}}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-bovin" type="button">Statut</button>
                          </span>
                          <input type="text" disabled class="form-control" value="{{taureauInfos.bovin.bovinStatut.statutNom}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-bovin" type="button">Classement</button>
                          </span>
                          <input id="inputBovinClassement" type="text" disabled class="form-control input-select" value="{{taureauInfos.bovin.bovinClassement.classementNom}}">
                          <div id="selectBovinClassement" style="display:none;width:100%;" class="select-form-editable">
                            <select data-class="btn-editable" name="bovinClassement" id="taureauBovinStatutSortie" class="form-control selectpicker">
                              {% for optionClassement in listeSelect.classement %}
                                {% if optionClassement.id == taureauInfos.bovin.bovinClassement.id %}
                                  <option selected value="{{optionClassement.id}}">{{optionClassement.classementNom}}</option>
                                {% else %}
                                  <option value="{{optionClassement.id}}">{{optionClassement.classementNom}}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-bovin" type="button">Date de sortie</button>
                          </span>
                          <input type="text" disabled id="taureauBovinSortie" class="datepicker form-control" name="bovinSortie" value="{% if taureauInfos.bovin.bovinSortie != "" %}{{taureauInfos.bovin.bovinSortie|date("d/m/Y")}}{% endif %}">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-bovin" type="button">Statut de sortie</button>
                          </span>
                          <input id="inputBovinStatutSortie" type="text" disabled class="form-control" value="{% if taureauInfos.bovin.bovinStatutSortie != "" %}{{taureauInfos.bovin.bovinStatutSortie.statutSortieNom}}{% endif %}">
                          <div id="selectBovinStatutSortie" style="display:none;width: 100%;" class="select-form-editable">
                            <select data-class="btn-editable" name="bovinStatutSortie" id="taureauBovinStatutSortie" class="form-control selectpicker">
                              <option value="0">Aucun</option>
                              {% for optionStatutSortie in listeSelect.statutSortie %}
                                {% if taureauInfos.bovin.bovinStatutSortie != "" %}
                                  {% if optionStatutSortie.id == taureauInfos.bovin.bovinStatutSortie.id %}
                                    <option selected value="{{optionStatutSortie.id}}">{{optionStatutSortie.statutSortieNom}}</option>
                                  {% else %}
                                    <option value="{{optionStatutSortie.id}}">{{optionStatutSortie.statutSortieNom}}</option>
                                  {% endif %}
                                {% else %}
                                  <option value="{{optionStatutSortie.id}}">{{optionStatutSortie.statutSortieNom}}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-bovin" type="button">Moyenne entre vêlage (Mois)</button>
                          </span>
                          <input type="text" disabled class="form-control" value="{{taureauInfos.moyAgeVelage}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-bovin" type="button">Facilité de vêlage</button>
                          </span>
                          <input id="inputBovinNaissanceFacilite" type="text" disabled class="form-control input-select" value="{% if taureauInfos.bovin.bovinNaissanceFacilite != "" %}{{taureauInfos.bovin.bovinNaissanceFacilite.naissanceFaciliteNom}}{% endif %}">
                          <div id="selectBovinNaissanceFacilite" style="display:none;width: 100%;" class="select-form-editable">
                            <select data-class="btn-editable" name="bovinNaissanceFacilite" id="taureauBovinNaissanceFacilite" class="form-control selectpicker">
                              <option value="0">Aucun</option>
                              {% for optionNaissanceFacilite in listeSelect.naissanceFacilite %}
                                {% if taureauInfos.bovin.bovinNaissanceFacilite != "" %}
                                  {% if optionNaissanceFacilite.id == taureauInfos.bovin.bovinNaissanceFacilite.id %}
                                    <option selected value="{{optionNaissanceFacilite.id}}">{{optionNaissanceFacilite.naissanceFaciliteNom}}</option>
                                  {% else %}
                                    <option value="{{optionNaissanceFacilite.id}}">{{optionNaissanceFacilite.naissanceFaciliteNom}}</option>
                                  {% endif %}
                                {% else %}
                                  <option value="{{optionNaissanceFacilite.id}}">{{optionNaissanceFacilite.naissanceFaciliteNom}}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                <div class=" col-lg-12">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="fiche-content-picture">
                        {% if taureauInfos.bovin.bovinPictureFacePath != "" %}
                          <img id="bovinPictureFace" class="bovin_img_fiche" src="{{ asset('upload/groupe/'~app.request.attributes.get('groupe')~'/'~taureauInfos.bovin.bovinPictureFacePath~'') }}">
                        {% else %}
                          <i class="fa fa-camera" aria-hidden="true"></i>
                        {% endif %}
                        <button type="button" class="btn btn-bovin pull-right" id="btn_modif_image_bovin_face"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Modifier l'image (Vue de Profil)</button>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="fiche-content-picture">
                        {% if taureauInfos.bovin.bovinPictureCotePath != "" %}
                          <img id="bovinPictureCote" class="bovin_img_fiche" src="{{ asset('upload/groupe/'~app.request.attributes.get('groupe')~'/'~taureauInfos.bovin.bovinPictureCotePath~'') }}">
                        {% else %}
                          <i class="fa fa-camera" aria-hidden="true"></i>
                        {% endif %}
                        <button type="button" class="btn btn-bovin pull-right" id="btn_modif_image_bovin_cote"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Modifier l'image (Vue de côté)</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                <div class="card-footer small text-muted clearfix">
                  <button type="button" class="btn btn-bovin pull-right" id="btn_modif_fiche_taureau"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Modifier la fiche du Taureau</button>
                  <button type="submit" class="btn btn-bovin pull-right" style="display:none;" id="btn_save_fiche_taureau">Enregistrer&nbsp;<i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-default pull-right" style="margin-right:15px;display:none;" id="btn_annule_fiche_taureau">Annuler</button>
                </div>
              </form>
            </div>
            {% if taureauInfos.bovin.bovinMere != "" %}
              <div class="card mb-3">
                <div class="card-header">
                  <span><i class="fa fa-venus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Mère du n° {{taureauInfos.bovin.bovinNumero}}</span>
                </div>
                <div class="card-body">
                  <div class=" col-lg-12">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-btn">
                              <button class="btn btn-bovin" type="button">Nom</button>
                            </span>
                            <input type="text" disabled class="form-control" value="{{taureauInfos.bovin.bovinMere.bovinNom}}">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-btn">
                              <button class="btn btn-bovin" type="button">Numéro</button>
                            </span>
                            <input type="text" disabled class="form-control" value="{{taureauInfos.bovin.bovinMere.bovinNumero}}">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-btn">
                              <button class="btn btn-bovin" type="button">Date de naissance</button>
                            </span>
                            <input type="text" disabled class="datepicker form-control" value="{{taureauInfos.bovin.bovinMere.bovinNaissance|date("m/d/Y")}}">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-btn">
                              <button class="btn btn-bovin" type="button">Race</button>
                            </span>
                            <input type="text" disabled class="form-control" value="{{taureauInfos.bovin.bovinMere.bovinRace.raceNom}}">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-btn">
                              <button class="btn btn-bovin" type="button">Statut</button>
                            </span>
                            <input type="text" disabled class="form-control" value="{{taureauInfos.bovin.bovinMere.bovinStatut.statutNom}}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class=" col-lg-12">
                    <div class="row">
                      
                    </div>
                  </div>
                </div>
                <div class="card-footer small text-muted">

                </div>
              </div>
            {% endif %}
            {% if taureauInfos.bovin.bovinPere != "" %}
              <div class="card mb-3">
                <div class="card-header">
                  <span><i class="fa fa-mars" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Père du n° {{taureauInfos.bovin.bovinNumero}}</span>
                </div>
                <div class="card-body">
                  <div class=" col-lg-12">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-btn">
                              <button class="btn btn-bovin" type="button">Nom</button>
                            </span>
                            <input type="text" disabled class="form-control" value="{{taureauInfos.bovin.bovinPere.bovinNom}}">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-btn">
                              <button class="btn btn-bovin" type="button">Numéro</button>
                            </span>
                            <input type="text" disabled class="form-control" value="{{taureauInfos.bovin.bovinPere.bovinNumero}}">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-btn">
                              <button class="btn btn-bovin" type="button">Date de naissance</button>
                            </span>
                            <input type="text" disabled class="datepicker form-control" value="{{taureauInfos.bovin.bovinPere.bovinNaissance|date("d/m/Y")}}">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-btn">
                              <button class="btn btn-bovin" type="button">Race</button>
                            </span>
                            <input type="text" disabled class="form-control" value="{{taureauInfos.bovin.bovinPere.bovinRace.raceNom}}">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-btn">
                              <button class="btn btn-bovin" type="button">Statut</button>
                            </span>
                            <input type="text" disabled class="form-control" value="{{taureauInfos.bovin.bovinPere.bovinStatut.statutNom}}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class=" col-lg-12">
                    <div class="row">
                      
                    </div>
                  </div>
                </div>
                <div class="card-footer small text-muted">

                </div>
              </div>
            {% endif %}
            {% if taureauInfos.veaux is not empty %}
              <div class="card mb-3">
                <div class="card-header">
                  <span><i class="fa fa-venus-mars" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Enfant(s) du n° {{taureauInfos.bovin.bovinNumero}}</span>
                  <span class="pull-right">Nombre de veaux : {{taureauInfos.nbrVeaux}}&nbsp;//&nbsp;Nombre de Jumeaux : {{taureauInfos.nbrJumeaux}}</span>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped dataTable" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Numéro</th>
                                <th>Nom</th>
                                <th>Date de naissance</th>
                                <th>Race</th>
                                <th>Statut</th>
                                <th>Facilité de vêlage</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for bovinVeau in taureauInfos.veaux %}
                            <tr>
                                <td>{{bovinVeau.bovinNumero}}</td>
                                <td>{{bovinVeau.bovinNom}}</td>
                                <td>{{bovinVeau.bovinNaissance|date("m/d/Y")}}</td>
                                <td>{{bovinVeau.bovinRace.raceNom}}</td>
                                <td>{{bovinVeau.bovinStatut.statutNom}}</td>
                                <td>{% if bovinVeau.bovinNaissanceFacilite != "" %}{{bovinVeau.bovinNaissanceFacilite.naissanceFaciliteNom}}{% endif %}</td>
                                <td><a class="btn btn-bovin btn-sm" href="{{url('fiche_taureau',{numero:bovinVeau.bovinNumero,groupe:app.request.attributes.get('groupe')})}}"><i class="fa fa-search" aria-hidden="true"></i></a></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-footer small text-muted">

                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% include '@BovinBundle/Taureau/Modal/modal_cropper_bovin.html.twig' %}
{% endblock %}

{% block script %}
  <script src="{{ asset('plugin/inputFileCss/bootstrap-filestyle.js') }}" type="text/javascript"></script>
  <script src="{{ asset('script/bovin.js') }}" type="text/javascript"></script>
  <script src="{{ asset('plugin/cropper-master/dist/cropper.js') }}"></script>
  {% if error_numero %}
    <script type="text/javascript">
      $('#vacheBovinNumero').addClass('form-error');
      $('.form-control-error-msg.bovinNumero2').css('display','block');
      $('#vacheBovinNom').removeAttr('disabled').addClass('form-editable');
      $('#vacheBovinNumero').removeAttr('disabled').addClass('form-editable');
      $('#vacheBovinNaissance').removeAttr('disabled').addClass('form-editable');
      $('#selectBovinRace').css('display','');
      $('#inputBovinRace').css('display','none');
      $('#vacheBovinSortie').removeAttr('disabled').addClass('form-editable');
      $('#selectBovinStatutSortie').css('display','');
      $('#inputBovinStatutSortie').css('display','none');
      $('#selectBovinNaissanceFacilite').css('display','');
      $('#inputBovinNaissanceFacilite').css('display','none');
      $('#selectBovinClassement').css('display','');
      $('#inputBovinClassement').css('display','none');
      $('#btn_annule_fiche_vache').css('display','');
      $('#btn_save_fiche_vache').css('display','');
      $('#btn_modif_fiche_vache').css('display','none');

      $("html, body").animate({ scrollTop: 0 }, 600);
    </script>
  {% endif %}

<script type="text/javascript">
  $('#image_bovin_cropper').cropper({
    responsive: true,
    guides: false,
    scalable: false,
    dragMode: 'move',
    minContainerWidth: 800,
    minContainerHeight:450
  });


  $('#btn_save_picture_bovin').on('click',function () {
    img_data_url = $('#image_bovin_cropper').cropper('getCroppedCanvas', {
      width: 750,
      height: 450,
      minWidth: 750,
      minHeight: 450,
      maxWidth: 4096,
      maxHeight: 4096,
      fillColor: '#fff',
      imageSmoothingEnabled: false,
      imageSmoothingQuality: 'high',
    }).toDataURL();

    if($('#type_image_bovin').val() == "bovinPictureFace"){

      $('#bovinPictureFace').attr('src',img_data_url)

    }else if($('#type_image_bovin').val() == "bovinPictureCote"){

      $('#bovinPictureCote').attr('src',img_data_url)

    }
    

    $.ajax({
      type: "POST",
      url: Routing.generate('fiche_vache_ajout_image',{"numero":"{{taureauInfos.bovin.bovinNumero}}","type": $('#type_image_bovin').val(),"groupe":"{{app.request.attributes.get('groupe')}}"}),
      data: { value: img_data_url },
      success: function() {
        location.reload();
      },
      error: function() {
      }
    });
    
  })

  $("#image-upload").change(function(e) {
    e.preventDefault();
    var current_file = this.files[0];
    var reader = new FileReader();
    if (current_file.type.indexOf('image') == 0) {
      reader.onload = function (event) {
          var image = new Image();
          image.src = event.target.result;

          image.onload = function() {
                imageWidth = image.width,
                imageHeight = image.height;
            var canvas = document.createElement('canvas');
            canvas.width = imageWidth;
            canvas.height = imageHeight;
            image.width = imageWidth;
            image.height = imageHeight;
            var ctx = canvas.getContext("2d");
            ctx.drawImage(this, 0, 0, imageWidth, imageHeight);

            img_file = canvas.toDataURL(current_file.type);
            $('#image_bovin_cropper').cropper('replace',img_file);
          }
        }
      reader.readAsDataURL(current_file);
    }
  });

  $('#btn_reini_image').on('click',function () {
    if($('#type_image_bovin').val() == "bovinPictureFace"){

      $('#image_bovin_cropper').cropper('replace',"{% if taureauInfos.bovin.bovinPictureFacePath != "" %}{{ asset('upload/groupe/'~app.request.attributes.get('groupe')~'/'~taureauInfos.bovin.bovinPictureFacePath~'') }}{% endif %}");

    }else if($('#type_image_bovin').val() == "bovinPictureCote"){

      $('#image_bovin_cropper').cropper('replace',"{% if taureauInfos.bovin.bovinPictureCotePath != "" %}{{ asset('upload/groupe/'~app.request.attributes.get('groupe')~'/'~taureauInfos.bovin.bovinPictureCotePath~'') }}{% endif %}");

    }
    $('#image-upload').filestyle('clear');
    
  })

  $('#btn_modif_image_bovin_face').on('click',function () {
    $('#modal_cropper_bovin .modal-title').empty().append('Image (Vue de face)');
    $('#type_image_bovin').val('bovinPictureFace');
    $('#modal_cropper_bovin').modal('show');
    $('#image_bovin_cropper').cropper("replace","{% if taureauInfos.bovin.bovinPictureFacePath != "" %}{{ asset('upload/groupe/'~app.request.attributes.get('groupe')~'/'~taureauInfos.bovin.bovinPictureFacePath~'') }}{% endif %}");
  })

  $('#btn_modif_image_bovin_cote').on('click',function () {
    $('#modal_cropper_bovin .modal-title').empty().append('Image (Vue de côté)');
    $('#type_image_bovin').val('bovinPictureCote');
    $('#modal_cropper_bovin').modal('show');
    $('#image_bovin_cropper').cropper("replace","{% if taureauInfos.bovin.bovinPictureCotePath != "" %}{{ asset('upload/groupe/'~app.request.attributes.get('groupe')~'/'~taureauInfos.bovin.bovinPictureCotePath~'') }}{% endif %}");
  })

</script>
{% endblock %}
