{% extends '::base.html.twig' %}
{% block style_css %}
	<link href="{{ asset('css/bovin.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
  <input type="hidden" id="groupeId" value="{{app.request.attributes.get('groupe')}}">
	<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url('accueil') }}">Accueil</a>
    </li>
    <li class="breadcrumb-item active">Bovin</li>
  </ol>
  <div class="row">
    <div class="col-12">
    	<div class="header-content pull-right">
          <button class="btn btn-bovin dropdown-toggle" type="button" id="dropdownMenuButtonImportXLS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonImportXLS">
            <a class="dropdown-item" data-toggle="modal" data-target="#modalImportXLSBovin">Import Xls Vache</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#modalSelectOptionPDFBovin">PDF</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
      </div>
    </div>
  </div>
  {% include '@BovinBundle/Bovin/Modal/modal_import_xls_bovin.html.twig' %}
  {% include '@BovinBundle/Bovin/Modal/modal_select_option_pdf.html.twig' %}
{% endblock %}

{% block script %}
  <script src="{{ asset('plugin/inputFileCss/bootstrap-filestyle.js') }}" type="text/javascript"></script>
	<script src="{{ asset('script/bovin.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
  
    $('#sortableListOrderBovinPDF').sortable();
    $('#sortableListOrderBovinPDF').disableSelection();

    $('#sortableListOrderBovinPDF').sortable({
      update: function( event, ui ) {
        var data = $('#sortableListOrderBovinPDF').sortable('toArray', {attribute: "data-item"});
        console.log(data)
      }
    });

    $('#selectAffichInPDF').change(function () {

      sexe_select = $('#selectAffichInPDFSexe');
      statut_select = $('#selectAffichInPDFStatut');
      statutsortie_select = $('#selectAffichInPDFStatutSortie');
      facilitenai_select = $('#selectAffichInPDFFaciliteNaissance');
      classement_select = $('#selectAffichInPDFClassement');

      switch($(this).val()) {

        case 'selectAucun':

              sexe_select.hide().attr('disabled','true')
              statut_select.hide().attr('disabled','true')
              statutsortie_select.hide().attr('disabled','true')
              facilitenai_select.hide().attr('disabled','true')
              classement_select.hide().attr('disabled','true')

              break;
        case 'selectStatut':

              sexe_select.hide().attr('disabled','true')
              statut_select.show().attr('disabled','false')
              statutsortie_select.hide().attr('disabled','true')
              facilitenai_select.hide().attr('disabled','true')
              classement_select.hide().attr('disabled','true')

              break;
        case 'selectSexe':

              sexe_select.show().attr('disabled','false')
              statut_select.hide().attr('disabled','true')
              statutsortie_select.hide().attr('disabled','true')
              facilitenai_select.hide().attr('disabled','true')
              classement_select.hide().attr('disabled','true')

              break;
        case 'selectStatutSortie':

              sexe_select.hide().attr('disabled','true')
              statut_select.hide().attr('disabled','true')
              statutsortie_select.show().attr('disabled','false')
              facilitenai_select.hide().attr('disabled','true')
              classement_select.hide().attr('disabled','true')

              break;
        case 'selectFaciliteNaissance':

              sexe_select.hide().attr('disabled','true')
              statut_select.hide().attr('disabled','true')
              statutsortie_select.hide().attr('disabled','true')
              facilitenai_select.show().attr('disabled','false')
              classement_select.hide().attr('disabled','true')

              break;
        case 'selectClassement':

              sexe_select.hide().attr('disabled','true')
              statut_select.hide().attr('disabled','true')
              statutsortie_select.hide().attr('disabled','true')
              facilitenai_select.hide().attr('disabled','true')
              classement_select.show().attr('disabled','false')

              break;
      }
    })

    $('#btnGeneratePdf').on('click',function function_name() {
      $('#modalPDFViewer .pdf-loading').show()
      src = Routing.generate('generate_pdf',{'groupe':$('#groupeId').val(),'type':'pdfBovinVache'})
      $.ajax({
        url: src,
        type: 'POST',
        data: $('#formSelectPDFOptions').serialize(),
        processData: false,
        contentType: false,
        success: function(data) {
            $('#modalPDFViewer .modal-body').append('<iframe id="pdfIframe" src="#" type="application/pdf" width="100%" height="600" onload="pdfIframeAfterLoad()"></iframe>');
       }
      });
      $('#modalPDFViewer').modal('show')
    })

    $('.btn-order-type').click(function () {
      var sortable = $('#sortableListOrderBovinPDF');
      switch($(this).data('type')) {
          case 'bovinNom':
              if($(this).hasClass('active')){
                $(this).removeClass('active')
                $('.ui-state-default.bovinNom').remove()
              }else{
                $(this).addClass('active')
                sortable.append('<li class="ui-state-default bovinNom" data-item="bovinNom"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Nom du bovin</li>');
              }
              
              break;
          case 'bovinRace':
              if($(this).hasClass('active')){
                $(this).removeClass('active')
                $('.ui-state-default.bovinRace').remove()
              }else{
                $(this).addClass('active')
                sortable.append('<li class="ui-state-default bovinRace" data-item="bovinRace"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Race du bovin</li>');
              }
              break;
          case 'bovinSortie':
              if($(this).hasClass('active')){
                $(this).removeClass('active')
                $('.ui-state-default.bovinSortie').remove()
              }else{
                $(this).addClass('active')
                sortable.append('<li class="ui-state-default bovinSortie" data-item="bovinSortie"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Date de sortie du bovin</li>');
              }
              break;
          case 'bovinPoidsCarcasse':
              if($(this).hasClass('active')){
                $(this).removeClass('active')
                $('.ui-state-default.bovinPoidsCarcasse').remove()
              }else{
                $(this).addClass('active')
                sortable.append('<li class="ui-state-default bovinPoidsCarcasse" data-item="bovinPoidsCarcasse"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Poids de carcasse du bovin</li>');
              }
              break;
          case 'bovinStatutSortie':
              if($(this).hasClass('active')){
                $(this).removeClass('active')
                $('.ui-state-default.bovinStatutSortie').remove()
              }else{
                $(this).addClass('active')
                sortable.append('<li class="ui-state-default bovinStatutSortie" data-item="bovinStatutSortie"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Statut du bovin a sa sortie</li>');
              }
              break;
          case 'bovinNaissanceFacilite':
              if($(this).hasClass('active')){
                $(this).removeClass('active')
                $('.ui-state-default.bovinNaissanceFacilite').remove()
              }else{
                $(this).addClass('active')
                sortable.append('<li class="ui-state-default bovinNaissanceFacilite" data-item="bovinNaissanceFacilite"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Facilité de naissance du bovin</li>');
              }
              break;
          case 'bovinClassement':
              if($(this).hasClass('active')){
                $(this).removeClass('active')
                $('.ui-state-default.bovinClassement').remove()
              }else{
                $(this).addClass('active')
                sortable.append('<li class="ui-state-default bovinClassement" data-item="bovinClassement"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Classement du bovin</li>');
              }
              break;
      }
      sortable.sortable('refresh');
    });


    $( '#form_import_bovin_xls_file' ).submit( function(e) {
      e.preventDefault();
      $.ajax( {
        url:  Routing.generate('bovin_ajout_xls',{"groupe":$('#groupeId').val()}),
        type: 'POST',
        data: new FormData(this),
        processData: false,
        contentType: false,
        success: function(data){
          show_modal = false;
            if(data == "error"){
              show_modal = true;
              alert('Ce n\'est pas un fichier excel')

            }else if(data == "no_file"){
              show_modal = true;
              alert('Veuillez selectionné un fichier')

            }else if(data != "error" && data != "no_file" && data){
              for(x in data['MereNoNumber']){
                if(data['MereNoNumber'][x] && x != data['RowSize']){
                  show_modal = true;
                  $('#modalImportXLSBovinError .modal-body').append('<p>La case Mère doit contenir des chiffres, à la ligne n°'+x+'</p>')
                }
              }
              for(x in data['MereTaille']){
                if(data['MereTaille'][x] && x != data['RowSize']){
                  show_modal = true;
                  $('#modalImportXLSBovinError .modal-body').append('<p>La case Mère doit contenir 4 chiffres, à la ligne n°'+x+'</p>')
                }
              }
              for(x in data['NaissanceVide']){
                if(data['NaissanceVide'][x] && x != data['RowSize']){
                  show_modal = true;
                  $('#modalImportXLSBovinError .modal-body').append('<p>La case Date de naissance ne doit pas être vide, à la ligne n°'+x+'</p>')
                }
              }
              for(x in data['NaissanceNoDate']){
                if(data['NaissanceNoDate'][x] && x != data['RowSize']){
                  show_modal = true;
                  $('#modalImportXLSBovinError .modal-body').append('<p>La case Date de naissance doit avoir le même format que dans l\'exemple, à la ligne n°'+x+'</p>')
                }
              }
              for(x in data['NumeroExist']){
                if(data['NumeroExist'][x] && x != data['RowSize']){
                  show_modal = true;
                  $('#modalImportXLSBovinError .modal-body').append('<p>Le numéro est déja uttilisé, à la ligne n°'+x+'</p>')
                }
              }
              for(x in data['NumeroTaille']){
                if(data['NumeroTaille'][x] && x != data['RowSize']){
                  show_modal = true;
                  $('#modalImportXLSBovinError .modal-body').append('<p>La case Numéro doit contenir 4 chiffres, à la ligne n°'+x+'</p>')
                }
              }
              for(x in data['NumeroNoNumber']){
                if(data['NumeroNoNumber'][x] && x != data['RowSize']){
                  show_modal = true;
                  $('#modalImportXLSBovinError .modal-body').append('<p>La case Numéro doit contenir des chiffres, à la ligne n°'+x+'</p>')
                }
              }
              for(x in data['NumeroVide']){
                if(data['NumeroVide'][x] && x != data['RowSize']){
                  show_modal = true;
                  $('#modalImportXLSBovinError .modal-body').append('<p>La case Numéro ne doit pas être vide, à la ligne n°'+x+'</p>')
                }
              }
              for(x in data['PereNoNumber']){
                if(data['PereNoNumber'][x] && x != data['RowSize']){
                  show_modal = true;
                  $('#modalImportXLSBovinError .modal-body').append('<p>La case Père doit contenir des chiffres, à la ligne n°'+x+'</p>')
                }
              }
              for(x in data['PereTaille']){
                if(data['PereTaille'][x] && x != data['RowSize']){
                  show_modal = true;
                  $('#modalImportXLSBovinError .modal-body').append('<p>La case Père doit contenir 4 chiffres, à la ligne n°'+x+'</p>')
                }
              }
              /*for(x in data['PereVide']){
                if(data['PereVide'][x] && x != data['RowSize']){
                  $('#modalImportXLSBovinError .modal-body').append('<p>La case Père ne doit pas être vide, à la ligne n°'+x+'</p>')
                }
              }*/
              for(x in data['RaceNoExist']){
                if(data['RaceNoExist'][x] && x != data['RowSize']){
                  show_modal = true;
                  $('#modalImportXLSBovinError .modal-body').append('<p>Le code racial que vous avez entré est incorrect, à la ligne n°'+x+'</p>')
                }
              }
              for(x in data['RaceVide']){
                if(data['RaceVide'][x] && x != data['RowSize']){
                  show_modal = true;
                  $('#modalImportXLSBovinError .modal-body').append('<p>La case Race ne doit pas être vide, à la ligne n°'+x+'</p>')
                }
              }
              for(x in data['RaceNoNumber']){
                if(data['RaceNoNumber'][x] && x != data['RowSize']){
                  show_modal = true;
                  $('#modalImportXLSBovinError .modal-body').append('<p>La case Race doit contenir des chiffres, à la ligne n°'+x+'</p>')
                }
              }
              for(x in data['SexeNoCode']){
                if(data['SexeNoCode'][x] && x != data['RowSize']){
                  show_modal = true;
                  $('#modalImportXLSBovinError .modal-body').append('<p>Le case Sexe doit contenir F ou M, à la ligne n°'+x+'</p>')
                }
              }
              for(x in data['SexeVide']){
                if(data['SexeVide'][x] && x != data['RowSize']){
                  show_modal = true;
                  $('#modalImportXLSBovinError .modal-body').append('<p>La case Sexe ne doit pas être vide, à la ligne n°'+x+'</p>')
                }
              }
              if(show_modal){
                $('#modalImportXLSBovinError').modal('show')
              }else{
                alert('Le fichier excel a bien été importé')
              }
            }

        }
      });
    
  });
  $("#modalImportXLSVacheError").on("hidden.bs.modal", function () { 
    $('#modalImportXLSVacheError .modal-body').empty();
  });
  $("#modalImportXLSVache").on("hidden.bs.modal", function () { 
    $('#inputFileXlsImportVache').filestyle('clear');
  });
  </script>
{% endblock %}