{% extends '::base_admin.html.twig' %}

{% block style_css %}

{% endblock %}

{% block body %}
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url('admin') }}">Panneau d'administration</a>
    </li>
    <li class="breadcrumb-item active">Groupes</li>
  </ol>
  <div class="row">
    <div class="col-12">
      <div class="header-content pull-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddNewGroup">
          <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Ajouter un Groupe
        </button>
      </div>
    </div>
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <span><i class="fa fa-table"></i>&nbsp;Liste des groupes</span>
        </div>
        <div class="card-body">
          <div id="contentTableGroupe" class="table-responsive">
            <div class="spinner-content">
              <i class="fa fa-spinner fa-spin"></i>
            </div>
          </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
    </div>
  </div>
  {% include '@AdminBundle/Group/Modal/modal_add_new_group.html.twig' %}
{% endblock %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function () {
    loadTableGroupe();
  })

  // Ajouter Groupe

  $('#formAddNewGroup').submit(function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: Routing.generate('admin_groups_modif_add',{'type':'addGroupe'}),
      data: $('#formAddNewGroup').serialize(),
      success: function() {
        $.dialog({
          icon: 'fa fa-check',
          type: 'green',
          title: 'Félicitation !',
          content: 'Le groupe a bien été ajouté',
          backgroundDismiss: true,
        });
        loadTableGroupe()
        $('#modalAddNewGroup').modal('hide')
      }
    });
  })

  $('#modalAddNewGroup').on('hidden.bs.modal', function (e) {
    $('#formAddNewGroup')[0].reset();
  })

  function loadTableGroupe(){
    $('#contentTableGroupe').load(Routing.generate('admin_load_table_group'), function(){
    });
  }
</script>
{% endblock %}