{% extends '::base_admin.html.twig' %}

{% block style_css %}

{% endblock %}

{% block body %}
  <input type="hidden" id="groupeId" value="{{groupe.id}}">

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url('admin') }}">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ url('admin_groups') }}">Groupes</a>
    </li>
    <li class="breadcrumb-item active">{{groupe.name}}</li>
  </ol>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <form class="form-modif-group">
          <div class="input-group input-group-modif">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Nom du groupe</button>
            </span>
            <input type="text" class="form-control area-text" name="groupeNom" placeholder="Nom du Groupe" disabled value="{{groupe.name}}">
            <span class="input-group-btn btn-action btn-modif visible">
              <button class="btn btn-info" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            </span>
            <span class="input-group-btn btn-action btn-save hide">
              <button class="btn btn-success" type="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
            </span>
            <span class="input-group-btn btn-action btn-return hide" data-value="{{groupe.name}}">
              <button class="btn btn-danger" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <form class="form-modif-group">
          <div class="input-group input-group-modif">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Adresse</button>
            </span>
            <textarea class="form-control area-text" name="groupeAdresse" placeholder="Adresse" disabled>{{groupe.groupeAdresse}}</textarea>
            <span class="input-group-btn btn-action btn-modif visible">
              <button class="btn btn-info" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            </span>
            <span class="input-group-btn btn-action btn-save hide">
              <button class="btn btn-success" type="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
            </span>
            <span class="input-group-btn btn-action btn-return hide" data-value="{{groupe.groupeAdresse}}">
              <button class="btn btn-danger" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Chef de groupe</button>
          </span>
          <div class="input-group-select">
            <select id="selectGroupChef" class="form-control selectpicker" data-live-search="true">
              {% for user in users %}
                {% if user.id == groupe.groupeUserChef.id %}
                  <option selected value="{{user.id}}">{{user.username}}</option>
                {% else %}
                  <option value="{{user.id}}">{{user.username}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-6">
        <div class="form-group">
          <button type="button" class="btn btn-primary btn-block">Membres du groupe</button>
          <select multiple="multiple" class="multi-select group" name="my-select[]">
            {% set inGroup = false %}
            {% for user in users %}

              {% for group in user.groups %}
                {% if groupe.id == group.id %}
                  {% set inGroup = true %}
                {% endif %}
              {% endfor %}

              {% if inGroup %}
                <option value="{{user.id}}" selected>{{user.id}}&nbsp;-&nbsp;{{user.username}}</option>
                {% set inGroup = false %}
              {% else %}
                <option value="{{user.id}}">{{user.id}}&nbsp;-&nbsp;{{user.username}}</option>
              {% endif %}

            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <button type="button" class="btn btn-primary btn-block">Catégorie</button>
          <select multiple="multiple" class="multi-select animalType" name="my-select[]">
            {% set inAnimalType = false %}
            {% for animalType in animalTypes %}

              {% for group in animalType.animalTypeGroupes %}
                {% if groupe.id == group.id %}
                  {% set inAnimalType = true %}
                {% endif %}
              {% endfor %}

              {% if inAnimalType %}
                <option value="{{animalType.id}}" selected>{{animalType.id}}&nbsp;-&nbsp;{{animalType.animalTypeNom}}</option>
                {% set inAnimalType = false %}
              {% else %}
                <option value="{{animalType.id}}">{{animalType.id}}&nbsp;-&nbsp;{{animalType.animalTypeNom}}</option>
              {% endif %}

            {% endfor %}
          </select>
        </div>
      </div>
  </div>

{% endblock %}

{% block script %}
  <script type="text/javascript">

    // Modifier Groupe Adresse et Nom

    $('.input-group-modif .btn-action').on('click', function(e) {
      e.preventDefault();
      
      var input_group = $(this).parent();

      if($(this).hasClass('btn-modif')){

        $(input_group.children('span.btn-action')).each(function( i ) {
          if ($(this).hasClass('visible')) {
              $(this).addClass('hide').removeClass('visible')
            } else {
              $(this).addClass('visible').removeClass('hide')
            }
        });

        input_group.addClass('action-modif')
        input_group.children('.area-text').removeAttr('disabled')

      }else if($(this).hasClass('btn-return')){

        $(input_group.children('span.btn-action')).each(function( i ) {
          if ($(this).hasClass('visible')) {
              $(this).addClass('hide').removeClass('visible')
            } else {
              $(this).addClass('visible').removeClass('hide')
            }
        });

        input_group.removeClass('action-modif')
        input_group.children('.area-text').attr('disabled','disabled').val($(this).data('value'))


      }else if($(this).hasClass('btn-save')){
        form = $(this).closest('.form-modif-group');

        if(form.hasClass('form-modif-group')){
          
          $.ajax({
            type: "POST",
            url: Routing.generate('admin_groups_modif_add',{'id':$('#groupeId').val(),'type':'modifAdresseAndNom'}),
            data: $(this).closest('.form-modif-group').serialize(),
            success: function() {
              $(input_group.children('span.btn-action')).each(function( i ) {
                if ($(this).hasClass('visible')) {
                    $(this).addClass('hide').removeClass('visible')
                  } else {
                    $(this).addClass('visible').removeClass('hide')
                  }
              });

              input_group.removeClass('action-modif')
              input_group.children('.area-text').attr('disabled','disabled')
            }
          });
        }

      }
      
    })

    // Ajouter / Supprimer Groupe Membres

    $('.multi-select.group').multiSelect({
      selectableHeader: "<div class='custom-header'>Pas dans le groupe</div>",
      selectionHeader: "<div class='custom-header'>Dans le groupe</div>",
      selectableFooter:"<div class='ms-search'><input class='form-control ms-input-search selectable' placeholder='Rechercher ...'></input></div>",
      selectionFooter:"<div class='ms-search'><input class='form-control ms-input-search selection' placeholder='Rechercher ...'></input></div>",
      afterSelect: function(values){
        $.ajax({
          type: "POST",
          url: Routing.generate('admin_groups_modif_add',{'id':$('#groupeId').val(),'user_id':values[0],'type':'addRemoveMembre','action':'add'}),
          success: function() {
          }
        });
      },
      afterDeselect: function(values){
        $.ajax({
          type: "POST",
          url: Routing.generate('admin_groups_modif_add',{'id':$('#groupeId').val(),'user_id':values[0],'type':'addRemoveMembre','action':'remove'}),
          success: function() {
          }
        });
      }
    });

    // Ajouter / Supprimer Groupe Catégories

    $('.multi-select.animalType').multiSelect({
      selectableHeader: "<div class='custom-header'>Désactiver</div>",
      selectionHeader: "<div class='custom-header'>Activer</div>",
      selectableFooter:"<div class='ms-search'><input class='form-control ms-input-search selectable' placeholder='Rechercher ...'></input></div>",
      selectionFooter:"<div class='ms-search'><input class='form-control ms-input-search selection' placeholder='Rechercher ...'></input></div>",
      afterSelect: function(values){
        $.ajax({
          type: "POST",
          url: Routing.generate('admin_groups_modif_add',{'id':$('#groupeId').val(),'animaltype_id':values[0],'type':'addRemoveCategorie','action':'add'}),
          success: function() {
          }
        });
      },
      afterDeselect: function(values){
        $.ajax({
          type: "POST",
          url: Routing.generate('admin_groups_modif_add',{'id':$('#groupeId').val(),'animaltype_id':values[0],'type':'addRemoveCategorie','action':'remove'}),
          success: function() {
          }
        });
      }
    });

    // Modifier Groupe Chef

    $('#selectGroupChef').on("change", function(e) { 
      $.ajax({
          type: "POST",
          url: Routing.generate('admin_groups_modif_add',{'id':$('#groupeId').val(),'groupeChef_id':$(this).val(),'type':'changeGroupeChef'}),
          success: function() {
          }
        });
    });

  </script>
{% endblock %}