html{
        background-color: rgb(242, 242, 242);
}


/*========================
	Navbar
=======================*/

@media (min-width: 992px){
	#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
		background: #efe6dc;
	}
}
@media (min-width: 992px){
	#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
	    background: #efe6dc;
	}
}

.navbar.navbar-expand-lg {
    background-color: #660000!important;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
	background-color: #660000;
}


/*========================
	Footer
=======================*/
footer.sticky-footer {
    background-color: #f7f3ee;
}
footer.sticky-footer .container{
    background-color: #f7f3ee;
}


/*========================
	Body
=========================*/

.breadcrumb {
    background-color: #f7f3ee;
}

.scroll-to-top {
    background: rgba(102, 0, 0, 0.5);
}

.scroll-to-top:hover, .scroll-to-top:focus {
    background: #660000;
}

/*=======================
	DataTable
======================*/

.page-item.active .page-link{
	background-color: #660000;
    border-color: #660000;
}

/*=======================
	Button
======================*/

.btn-bovin{
	background-color: #660000;
    border-color: #660000;
    color: white!important;
}
.btn-bovin:hover, .btn-bovin:focus, .btn-bovin:active{
	background-color: #330000!important;
    border-color: #330000!important;
}
.card .card-header{
	background: #660000;
}

.card .card-header span{
	color: white;
}

button.btn-editable {
    border-color: #5cb85c;
    box-shadow: 0 0 0 0.2rem rgba(92, 184, 92,.25);
}

/*======================
	Datepicker
====================*/

.datepicker table tr td.active.active.focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active.focus, .datepicker table tr td.active.highlighted.active:focus, .datepicker table tr td.active.highlighted.active:hover, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active:active.focus, .datepicker table tr td.active:active:focus, .datepicker table tr td.active:active:hover {
    color: #fff;
    background-color: #330000!important;
    border-color: #330000!important;
}

.datepicker table tr td.active.highlighted:hover, .datepicker table tr td.active:hover {
    color: #fff;
    background-color: #330000!important;
    border-color: #330000!important;
}

.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active {
    color: #fff;
    background-color: #660000!important;
    border-color: #660000!important;
}

/*====================
	Select
=======================*/

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
  background-color: #660000;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
  border-color: #660000;
}

.select2-container--bootstrap .select2-dropdown {
  border-color: #660000;
}

.select2.select2-container.select2-container--bootstrap.select2-container--below.select2-container--open.select2-container--focus,
.select2.select2-container.select2-container--bootstrap.select2-container--below.select2-container--open,
.select2.select2-container.select2-container--bootstrap.select2-container--below.select2-container--focus{
  border-color: #660000;
  box-shadow: 0 0 0 0.2rem rgba(179, 0, 0,.25);
}


/*========================
	Input
=====================*/

.form-control.form-editable {
    border-color: #5cb85c;
    box-shadow: 0 0 0 0.2rem rgba(92, 184, 92,.25);
}

.form-control:focus {
    border-color: #660000;
    box-shadow: 0 0 0 0.2rem rgba(179, 0, 0,.25);
}

.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(179, 0, 0,.25);
}

/*========================
	Fiche Bovin
=====================*/
.fiche-content-picture{
    min-height:245px;
    border:5px solid #660000;
    border-radius:5px;
    position:relative;
    text-align: center;
    margin-bottom: 15px;
}

.fiche-content-picture img{
    width: 100%;
    vertical-align: middle;
}

.fiche-content-picture .fa.fa-camera{
    font-size: 100px;
    margin-top: 50px;
    color: #660000;
}

.fiche-content-picture button{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0;
    border-top-left-radius: 5px;
}

#image_bovin_cropper {
	max-width: 100%; 
}

.spinner-content .fa.fa-spinner{
    color: #660000;
}

.dropdown-item:active {
    color: #fff!important;
    text-decoration: none;
    background-color: #660000;
}

.dropdown-item.active{
    color: black!important;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-item.active::before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 2em;
    font-family: "FontAwesome";
    content: "\f00c";
}