body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #001a4d;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

h2,span,label{
  color: rgba(255,255,255,.5);
}
h2{
  margin-bottom: 20px;
}
img{
  width: 14%;
  vertical-align: bottom;
}
button,button:focus,button:hover{
  background: #99bbff!important;
  color: #001a4d;
}
footer.sticky-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: #99bbff;
    line-height: 55px;
    color: #001a4d;
}
p{
    color: rgba(255,255,255,.5);
    font-family: inherit;
    font-size: 18px; 
}

input.form-control.form-error {
    color: #495057;
    background-color: #fff;
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #d9534f;
}