
/* ===================================
	Scroll Mobile
=====================================*/


#navbarResponsive::-webkit-scrollbar {
    height: 18px;
}
#navbarResponsive::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
#navbarResponsive::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
#navbarResponsive::-webkit-scrollbar-corner {
    background-color: transparent;
}

/*========================
	Navbar
=======================*/

@media (min-width: 992px){
	#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
		background: #e6e6e6;
	}
}
@media (min-width: 992px){
	#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
	    background: #e6e6e6;
	}
}

.navbar.navbar-expand-lg {
    background-color: #001a4d!important;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
	background-color: #001a4d;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
	color: rgba(255,255,255,.5);
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:focus,#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
	color: rgba(255,255,255,.75);
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a{
	color: rgba(255,255,255,.5);
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
	color: rgba(255,255,255,.75);
}



@media (min-width: 992px){
	
	#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
	    color: #343a40;
	}

	#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:focus,#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
	    color: #505962;
	}

	#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a{
	    color: #343a40;
	}

	#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
	    color: #505962;
	}
}

/*========================
	Footer
=======================*/
footer.sticky-footer {
    background-color: #f2f2f2;
}

footer.sticky-footer .container{
    background-color: #f2f2f2;
}

/*========================
	Body
=========================*/

.breadcrumb {
    background-color: #f7f3ee;
}

.scroll-to-top {
    background: rgba(0, 26, 77, 0.5);
}

.scroll-to-top:hover, .scroll-to-top:focus {
    background: #001a4d;
}
.container-fluid.body .header-content{
	margin-bottom: 16px;
}

/*==========================
	Button
==========================*/
.btn-default{
	background: white;
    border: 1px solid #ced4da;
}
/*=======================
	Datepicker
======================*/
.datepicker.datepicker-dropdown{
    z-index: 9999;
}

/*======================
	Input
=======================*/

input.form-control.form-error {
    color: #495057;
    background-color: #fff;
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.form-group .form-control-error-msg{
	color: #d9534f;
	display: none;
}
