/* Ion.CheckRadio, Cloudy Skin
// Version 2.0.0
//
// © Denis Ineshin, 2015
// https://github.com/IonDen
// ===================================================================================================================*/

.icr-label {
    padding-right: 2px;
    margin: 0 5px 5px 0;
}

.icr-item {
    width: 18px; height: 18px;
    border: 1px solid #ccc;
    background-color: white;
}

.icr-item.type_radio {
    -moz-border-radius: 18px;
    border-radius: 18px;
}
.icr-label.checked .type_radio:after {
    position: absolute;
    display: block;
    content: "";
    top: 50%; left: 50%;
    width: 8px; height: 8px;
    margin: -4px 0 0 -4px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #999;
}
.icr-label.focused .icr-item {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.lt-ie9 .icr-label.focused .icr-item {
    border-color: #555;
}

.icr-item.type_checkbox {
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.icr-label.checked .type_checkbox:after {
    position: absolute;
    display: block;
    content: "";
    top: 50%; left: 50%;
    width: 4px; height: 12px;
    margin: -6px 0 0 -2px;
    background: #999;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icr-label.checked .type_checkbox:before {
    position: absolute;
    display: block;
    content: "";
    top: 50%; left: 50%;
    width: 12px; height: 4px;
    margin: -2px 0 0 -6px;
    background: #999;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}


.icr-label:hover .icr-item, .icr-label.checked .icr-item {
    border-color: #999;
}

.icr-label.checked:hover .icr-item:after, .icr-label.checked:hover .icr-item:before {
    background: #999;
}

.icr-label.disabled.checked:hover .icr-item:after, .icr-label.disabled.checked:hover .icr-item:before {
    background: #ccc;
}
