<table class="table table-bordered table-striped dataTable" width="100%" cellspacing="0">
    <thead class="thead-dark">
        <tr>
            <th>Nom du groupe</th>
            <th>Chef du groupe</th>
            <th>Adresse</th>
            <th>Catégorie active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
      {% for groupsList in groups_list %}
        <tr>
            <td>{{groupsList.name}}</td>
            <td>
                {{groupsList.groupeUserChef.username}}
            </td>
            <td>
                <pre>{{groupsList.groupeAdresse}}</pre>
            </td>
            <td>
              {% for animalCategorie in groupsList.groupeAnimalTypes %}
                - {{animalCategorie.animalTypeNom}}<br/>
              {% endfor %}
            </td>
            <td>
                <a class="btn btn-primary btn-sm" href="{{url('admin_groups_infos',{id:groupsList.id})}}"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a class="btn btn-danger btn-sm btn-remove-group" href="#" data-id="{{groupsList.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>

        </tr>
      {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
    $(".dataTable").DataTable({
        responsive: true,
        "language": {
            "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        },
        initComplete: function(){
          $('.dataTables_wrapper select').select2({
            theme: "bootstrap",
            minimumResultsForSearch: -1
          });
        }
    })
    
    $(".dataTable").on('click','.btn-remove-group',function (){
        id_group = $(this).data('id');
        $.confirm({
            title: 'Attention !',
            content: 'Êtes-vous sûr de vouloir supprimer ce groupe ?',
            type: 'red',
            icon: 'fa fa-exclamation-triangle',
            typeAnimated: true,
            backgroundDismiss: true,
            buttons: {
                supprimer: {
                    text: 'Supprimer',
                    btnClass: 'btn-danger',
                    action: function(){
                        $.ajax({
                          type: "POST",
                          url: Routing.generate('admin_groups_remove',{'id':id_group}),
                          success: function() {
                            loadTableGroupe()
                            $.dialog({
                              icon: 'fa fa-check',
                              type: 'green',
                              title: 'Félicitation !',
                              content: 'Le groupe a bien été supprimer',
                              backgroundDismiss: true,
                            });
                          }
                        });
                    }
                },
                fermer: {
                    text: 'Annuler',
                    btnClass: 'btn-secondary',
                    action: function(){
                    }
                },
            }
        });
    })
</script>