<div class="modal fade" id="modalPDFViewer" tabindex="-1" role="dialog" aria-labelledby="modalPDFViewer" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Visualisateur de PDF&nbsp;<i class="fa fa-spinner fa-spin pdf-loading" style="display:none;" aria-hidden="true"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <iframe id="pdfIframe" type="application/pdf" width="100%" height="600" onload="pdfIframeAfterLoad()"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bovin" onclick="pdfIframeFullScreen()"><i class="fa fa-expand" aria-hidden="true"></i>&nbsp;Agrandir</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
