{% extends '::base_admin.html.twig' %}

{% block style_css %}

{% endblock %}

{% block body %}
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url('admin') }}">Panneau d'administration</a>
    </li>
    <li class="breadcrumb-item active">Utilisateurs</li>
  </ol>
  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <span><i class="fa fa-table"></i>&nbsp;Liste des utilisateurs</span>
        </div>
        <div class="card-body">
          <div id="contentTableUser" class="table-responsive">
            <div class="spinner-content">
              <i class="fa fa-spinner fa-spin"></i>
            </div>
          </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(document).ready(function () {
      loadTableGroupe();
    })
    function loadTableGroupe(){
      $('#contentTableUser').load(Routing.generate('admin_load_table_user'), function(){
      });
    }
  </script>
{% endblock %}