{% extends '::base_admin.html.twig' %}

{% block style_css %}

{% endblock %}

{% block body %}
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url('admin') }}">Panneau d'administration</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ url('admin_users') }}">Utilisateurs</a>
    </li>
    <li class="breadcrumb-item active">{{user.username}}</li>
  </ol>
  <div class="row">
    <div class="col-12">
      {{dump(user)}}
    </div>
  </div>

{% endblock %}

{% block script %}

{% endblock %}