<div class="modal fade" id="modalImportXLSBovin" role="dialog" aria-labelledby="modalImportXLSBovin" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="form_import_bovin_xls_file">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Import XLS Bovin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <a class="btn btn-bovin" href="{{ asset('file/import_bovin.xlsx') }}" style="margin-bottom:15px;">Télecharger le fichier&nbsp;<i class="fa fa-download" aria-hidden="true"></i></a>
          <input id="inputFileXlsImportBOvin" class="filestyle" data-iconName="fa fa-folder-open" data-buttonName="btn-bovin" data-buttonText="Rechercher un fichier Xls" data-buttonBefore="true" type="file" name="xls_file" id="xlsBovinUpload"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-bovin">Importer</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="modalImportXLSBovinError" role="dialog" aria-labelledby="modalImportXLSBovinError" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Import XLS Bovin Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>