<div class="modal fade" id="modalSelectOptionPDFBovin" role="dialog" aria-labelledby="modalSelectOptionPDFBovin" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Options du PDF</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formSelectPDFOptions">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon btn-bovin">Sélectionner un type d'affichage</span>
                  <div class="input-group-select">
                    <select id="selectAffichInPDF" class="form-control selectpicker" data-live-search="true" name="selectAffichInPDF">
                      <option value="selectAucun">Aucun</option>
                      <option value="selectStatut">Statut</option>
                      <option value="selectSexe">Sexe</option>
                      <option value="selectStatutSortie">Statut Sortie</option>
                      <option value="selectFaciliteNaissance">Facilité de naissance</option>
                      <option value="selectClassement">Classement</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <div id="selectAffichInPDFStatut" style="display:none;">
                  <select class="form-control selectpicker" data-live-search="true" name="selectAffichInPDFStatut">
                    {% for statut in tab_select.statut %}
                      <option value="{{statut.id}}">{{statut.statutNom}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div id="selectAffichInPDFSexe" style="display:none;">
                  <select class="form-control selectpicker" data-live-search="true" name="selectAffichInPDFSexe">
                    {% for sexe in tab_select.sexe %}
                      <option value="{{sexe.id}}">{{sexe.sexeNom}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div id="selectAffichInPDFStatutSortie" style="display:none;">
                  <select class="form-control selectpicker" data-live-search="true" name="selectAffichInPDFStatutSortie">
                    {% for statutSortie in tab_select.statutSortie %}
                      <option value="{{statutSortie.id}}">{{statutSortie.statutSortieNom}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div id="selectAffichInPDFFaciliteNaissance" style="display:none;">
                  <select class="form-control selectpicker" data-live-search="true" name="selectAffichInPDFFaciliteNaissance">
                    {% for naissanceFacilite in tab_select.naissanceFacilite %}
                      <option value="{{naissanceFacilite.id}}">{{naissanceFacilite.naissanceFaciliteNom}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div id="selectAffichInPDFClassement" style="display:none;">
                  <select class="form-control selectpicker" data-live-search="true" name="selectAffichInPDFClassement">
                    {% for classement in tab_select.classement %}
                      <option value="{{classement.id}}">{{classement.classementNom}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="header-content pull-right">
                <button class="btn btn-bovin dropdown-toggle activated" type="button" id="dropdownMenuButtonAddOrderType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Ajouter un type d'ordre
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAddOrderType">
                  <a class="dropdown-item btn-order-type" data-type="bovinNom" href="#">Nom du bovin</a>
                  <a class="dropdown-item btn-order-type" data-type="bovinRace" href="#">Race du bovin</a>
                  <a class="dropdown-item btn-order-type" data-type="bovinSortie" href="#">Date de sortie du bovin</a>
                  <a class="dropdown-item btn-order-type" data-type="bovinPoidsCarcasse" href="#">Poids de carcasse du bovin</a>
                  <a class="dropdown-item btn-order-type" data-type="bovinClassement" href="#">Classement du bovin</a>
                  <a class="dropdown-item btn-order-type" data-type="bovinStatutSortie" href="#">Statut du bovin a sa sortie</a>
                  <a class="dropdown-item btn-order-type" data-type="bovinNaissanceFacilite" href="#">Facilité de naissance du bovin</a>
                </div>
              </div>
            </div>
            <div class="col-12">
              <ul id="sortableListOrderBovinPDF">
                <li class="ui-state-default" data-item="bovinNaissance"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Date de naissance du bovin</li>
                <li class="ui-state-default" data-item="bovinNumero"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Numéro du bovin</li>
              </ul>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-bovin" id="btnGeneratePdf">Générer</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
