<table class="table table-bordered table-striped dataTable" width="100%" cellspacing="0">
    <thead class="thead-dark">
        <tr>
            <th>Pseudo</th>
            <th>Adresse Email</th>
            <th>Dernière connexion</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
      {% for userList in users_list %}
        <tr>
            <td>{{userList.username}}</td>
            <td>{{userList.email}}</td>
            <td>{{userList.lastLogin|date("d/m/Y")}}</td>
            <td><a class="btn btn-primary btn-sm" href="{{url('admin_users_infos',{id:userList.id})}}"><i class="fa fa-search" aria-hidden="true"></i></a></td>
        </tr>
      {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
    $(".dataTable").DataTable({
        responsive: true,
        "language": {
            "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        },
        initComplete: function(){
          $('.dataTables_wrapper select').select2({
            theme: "bootstrap",
            minimumResultsForSearch: -1
          });
        }
    })
</script>